<a href="https://colab.research.google.com/github/feryamazaki/igtibootcamp/blob/main/desafiomodulo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Desafio do Modulo 2

In [1]:
#Importando as bibliotecas
import numpy as np
import pandas as pd

In [2]:
#Carregando o dataset
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

4. Responder as seguintes perguntas:

a. Qual o tamanho desse dataset? 

17379 rows x 17 columns

b. Qual a média da coluna windspeed?

df.get('windspeed').mean() - 0.1900976063064631

c. Qual a média da coluna temp?

df.get('temp').mean() - 0.4969871684216586


d. Quantos registros existem para o ano de 2011?

df.query('year == 0')
8645 rows × 17 columns


e. Quantos registros existem para o ano de 2012?

df.query('year == 1')
8734 rows × 17 columns


f. Quantas locações de bicicletas foram efetuadas em 2011?

df.query('year == 0')['total_count'].sum()
1243103


g. Quantas locações de bicicletas foram efetuadas em 2012?

df.query('year == 1')['total_count'].sum()
2049576

h. Qual estação do ano contém a maior média de locações de bicicletas?

agrupamento = df.groupby(by=['season'])['total_count'].mean()
season
1    111.114569
2    208.344069
3    236.016237
4    198.868856
Season 3 - Verao

i. Qual estação do ano contém a menor média de locações de bicicletas?

Season 1 - inverno

j. Qual horário do dia contém a maior média de locações de bicicletas?

agrupamento = df.groupby(by=['hour'])['total_count'].mean()
0      53.898072
1      33.375691
2      22.869930
3      11.727403
4       6.352941
5      19.889819
6      76.044138
7     212.064649
8     359.011004
9     219.309491
10    173.668501
11    208.143054
12    253.315934
13    253.661180
14    240.949246
15    251.233196
16    311.983562
17    461.452055
18    425.510989
19    311.523352
20    226.030220
21    172.314560
22    131.335165
23     87.831044
Answer - Hour 17

k. Qual horário do dia contém a menor média de locações de bicicletas?

Answer - Hour 4

l. Que dia da semana contém a maior média de locações de bicicletas?

agrupamento = df.groupby(by=['weekday'])['total_count'].mean()

weekday
0    177.468825
1    183.744655
2    191.238891
3    191.130505
4    196.436665
5    196.135907
6    190.209793

Answer 4 quinta

m. Que dia da semana contém a menor média de locações de bicicletas?

Answer 0

n. Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média
de locações de bicicletas?

df.query('weekday == 3').groupby(by=['hour'])['total_count'].mean()
Answer 17

o. Aos sábados (weekday = 6), qual o horário do dia contém a maior média de
locações de bicicletas?

df.query('weekday == 6').groupby(by=['hour'])['total_count'].mean()
Answer 13

In [3]:
df.head()

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

In [4]:
df.info

<bound method DataFrame.info of          datetime  rec_id  season  ...  casual  registered  total_count
0      2011-01-01       1       1  ...       3          13           16
1      2011-01-01       2       1  ...       8          32           40
2      2011-01-01       3       1  ...       5          27           32
3      2011-01-01       4       1  ...       3          10           13
4      2011-01-01       5       1  ...       0           1            1
...           ...     ...     ...  ...     ...         ...          ...
17374  2012-12-31   17375       1  ...      11         108          119
17375  2012-12-31   17376       1  ...       8          81           89
17376  2012-12-31   17377       1  ...       7          83           90
17377  2012-12-31   17378       1  ...      13          48           61
17378  2012-12-31   17379       1  ...      12          37           49

[17379 rows x 17 columns]>

In [32]:
agrupamento = df.groupby(by=['weekday'])['total_count'].mean()

In [33]:
agrupamento

weekday
0    177.468825
1    183.744655
2    191.238891
3    191.130505
4    196.436665
5    196.135907
6    190.209793
Name: total_count, dtype: float64

In [36]:
df.query('weekday == 6').groupby(by=['hour'])['total_count'].mean()

hour
0      94.304762
1      67.780952
2      50.495238
3      22.885714
4       7.657143
5       8.291262
6      21.000000
7      45.961905
8     114.476190
9     186.790476
10    263.723810
11    328.609524
12    375.380952
13    385.371429
14    381.333333
15    382.428571
16    366.142857
17    334.409524
18    292.048077
19    239.932692
20    180.865385
21    156.000000
22    139.663462
23    115.855769
Name: total_count, dtype: float64