<a href="https://colab.research.google.com/github/feryamazaki/igtibootcamp/blob/main/desafiomodulo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Desafio do Modulo 2

In [ ]:
#Importando as bibliotecas
import numpy as np
import pandas as pd

In [ ]:
#Carregando o dataset
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [ ]:
df.head()

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

In [ ]:
df.info

<bound method DataFrame.info of          datetime  rec_id  season  ...  casual  registered  total_count
0      2011-01-01       1       1  ...       3          13           16
1      2011-01-01       2       1  ...       8          32           40
2      2011-01-01       3       1  ...       5          27           32
3      2011-01-01       4       1  ...       3          10           13
4      2011-01-01       5       1  ...       0           1            1
...           ...     ...     ...  ...     ...         ...          ...
17374  2012-12-31   17375       1  ...      11         108          119
17375  2012-12-31   17376       1  ...       8          81           89
17376  2012-12-31   17377       1  ...       7          83           90
17377  2012-12-31   17378       1  ...      13          48           61
17378  2012-12-31   17379       1  ...      12          37           49

[17379 rows x 17 columns]>

In [ ]:
df.get('windspeed').mean()

0.1900976063064631