<a href="https://colab.research.google.com/github/feryamazaki/igtibootcamp/blob/main/DesafioFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importando as bibliotecas
import numpy as np
import pandas as pd

In [7]:
?pd.read_csv()

In [52]:
#Carregando o dataset
df = pd.read_csv("/content/pima-indians-diabetes.csv", header=0)

In [53]:
df.head()

   n_grav  c_glic  p_dias  exp_tric  ...   imc  hist_fam  idade  classificacao
0       6     148      72        35  ...  33.6     0.627     50              1
1       1      85      66        29  ...  26.6     0.351     31              0
2       8     183      64         0  ...  23.3     0.672     32              1
3       1      89      66        23  ...  28.1     0.167     21              0
4       0     137      40        35  ...  43.1     2.288     33              1

[5 rows x 9 columns]

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   n_grav         768 non-null    int64
 1   c_glic         768 non-null    int64
 2   p_dias         768 non-null    int64
 3   exp_tric       768 non-null    int64
 4   insul          768 non-null    int64
 5   imc            768 non-null    float64
 6   hist_fam       768 non-null    float64
 7   idade          768 non-null    int64
 8   classificacao  768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [59]:
#Qual é a idade (coluna 7) média dos pacientes que são diabéticos (coluna 8=1)?
df.query('classificacao==1')['idade'].mean()

37.06716417910448

In [60]:
#Dentre os pacientes que NÃO tiveram diabetes (coluna 8 =0), qual é o número máximo de gestações (coluna 0) existentes?
df.query('classificacao==0')['n_grav'].max()

13

In [65]:
#Qual é a afirmação CORRETA sobre o valor 3,0 para a característica número de gestações (coluna 0)?
df['n_grav'].median()

3.0

In [66]:
#Antes de normalizar, qual é o valor da mediana presente na coluna concentração de glicose (coluna 1)?
df['c_glic'].median()

117.0